h1 {
    color:orange;
    font-size: 65px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
}

ul {
    background-color: blue;
    color: white;
}

.muda-cor {
    background-color: gray;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
